In [1]:
import pandas as pd

from morizon_scraper import *

In [2]:
driver = full_driver()

In [3]:
get_type_trns(driver)

Available property types:
 ['mieszkania', 'domy', 'komercyjne', 'dzialki', 'garaze', 'pokoje', 'nieruchomosci']
 Default property type is: mieszkania

Available transaction types:
 ['sprzedaz', 'wynajem']
 Default transaction type is: sprzedaz

In [4]:
links = get_links(driver, city = 'warszawa', district = 'wola', stop = 3)
links_df = pd.DataFrame(links)
links_df.columns = ['dt', 'url', 'title', 'pub_dt', 'price', 'currency', 'rooms', 'area', 'floor', 'description']

https://www.morizon.pl/mieszkania/warszawa/wola/
https://www.morizon.pl/mieszkania/warszawa/wola/?page=2

In [5]:
links_df.head()

,dt,url,title,pub_dt,price,currency,rooms,area,floor,description
0,2020-12-13 19:38:25.213843,https://www.morizon.pl/oferta/sprzedaz-mieszka...,"\nWarszawa, Wola, ul. Kasprzaka",\n11-12-2020,,PLN,2 pokoje,46 m²,piętro 16/24,Lokal zarezerowowany. Sprawdź dostępność innyc...
1,2020-12-13 19:38:25.216282,https://www.morizon.pl/oferta/sprzedaz-mieszka...,"\nWarszawa, Wola, ul. Kasprzaka",\n11-12-2020,,PLN,4 pokoje,82 m²,piętro 21/24,Osiedle na Woli to kompleks budynków wchodzący...
2,2020-12-13 19:38:25.221354,https://www.morizon.pl/oferta/sprzedaz-mieszka...,"\nWarszawa, Wola, ul. Kasprzaka",\n11-12-2020,,PLN,1 pokój,37 m²,piętro 21/24,Lokal zarezerowowany. Sprawdź dostępność innyc...
3,2020-12-13 19:38:25.223579,https://www.morizon.pl/oferta/sprzedaz-mieszka...,"\nWarszawa, Mirów, Chłodna",\n01-10-2020,1250000.00,PLN,4 pokoje,80 m²,parter,Przepięknie zaaranżowany i urządzony apartamen...
4,2020-12-13 19:38:25.225957,https://www.morizon.pl/oferta/sprzedaz-mieszka...,"\nWarszawa, Wola, Jana Olbrachta",\n30-10-2020,510000.00,PLN,3 pokoje,51 m²,piętro 3/3,Trzypokojowe mieszkanie na warszawskim Ulrycho...

In [10]:
list(links_df.url[:10])

['https://www.morizon.pl/oferta/sprzedaz-mieszkanie-warszawa-wola-kasprzaka-45m2-mzn2035238111',
 'https://www.morizon.pl/oferta/sprzedaz-mieszkanie-warszawa-wola-kasprzaka-82m2-mzn2035237804',
 'https://www.morizon.pl/oferta/sprzedaz-mieszkanie-warszawa-wola-kasprzaka-37m2-mzn2035237802',
 'https://www.morizon.pl/oferta/sprzedaz-mieszkanie-warszawa-wola-chlodna-80m2-mzn2037294640',
 'https://www.morizon.pl/oferta/sprzedaz-mieszkanie-warszawa-wola-jana-olbrachta-51m2-mzn2037507736',
 'https://www.morizon.pl/oferta/sprzedaz-mieszkanie-warszawa-wola-kasprzaka-26m2-mzn2035243601',
 'https://www.morizon.pl/oferta/sprzedaz-mieszkanie-warszawa-wola-kasprzaka-45m2-mzn2035243602',
 'https://www.morizon.pl/oferta/sprzedaz-mieszkanie-warszawa-wola-kasprzaka-79m2-mzn2035237908',
 'https://www.morizon.pl/oferta/sprzedaz-mieszkanie-warszawa-wola-62m2-mzn2037787459',
 'https://www.morizon.pl/oferta/sprzedaz-mieszkanie-warszawa-wola-fort-wola-67m2-mzn2034551576']

In [7]:
offers = get_offers(driver, list(links_df.url))

In [13]:
offers_df = pd.DataFrame(offers)
offers_df.head()

,latitude,longitude,data_id,Deweloper:,Inwestycja:,Powierzchnia użytkowa:,Piętro:,Liczba pięter:,Rynek:,,...,Balkon:,Taras:,Na biuro:,Stan budynku:,Wyposażenie,Powierzchnia balkonu:,Powierzchnia tarasu:,Powierzchnia ogródka:,Cena do negocjacji:,Stolarka okienna:
0,52.2279292,20.9585114,1mzn2035238111,HCS Investments,Osiedle na Woli,"45,93 m²",16 / 24,24,pierwotny,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,52.2279292,20.9585114,1mzn2035237804,HCS Investments,Osiedle na Woli,"82,28 m²",21 / 24,24,pierwotny,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,52.2279292,20.9585114,1mzn2035237802,HCS Investments,Osiedle na Woli,"37,03 m²",21 / 24,24,pierwotny,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,52.23826,20.99015,1mzn2037294640,NaN,NaN,80 m²,parter / 4,4,wtórny,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,52.23438755,20.93610276,1mzn2037507736,NaN,NaN,"51,46 m²",3 / 3,3,wtórny,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN